version: '3.1'

services:  
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: 'project_pi'
      MYSQL_USER: 'user'
      MYSQL_PASSWORD: 'password'
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      - '3306:3306'
    expose:
      - '3306'
    volumes:
      - ./docker_data/mysql:/var/lib/mysql